
  <div class="success">
    <h4>
      送信しました。
    </h4>
  
    <p>
  <strong>Name:</strong>
  <%= @question.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @question.address %>
</p>

<p>
  <strong>Text:</strong>
  <%= @question.text %>
</p>

    <%= link_to '訂正する', "/questions/#{@question.id}/edit", method: :get %> |
    <%= link_to 'フォームに戻る', questions_path %>
  </div>
